.container {
    width: 640px;
    height: 680px;
    border: 2px double $corDeFundo;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @include bordaRedonda();
    h1 {
        color:$corDeFundo;
        text-align: center;
    }
    .foto {
        width: 100px;
        height: 100px;
        border: 1px dashed $corDeFundo;
        background: url(../img/#{$imgMedico});
        background-size: contain;
        @include bordaRedonda();
        @include sombra($cor:$corDeFundo);
    }
    .btn {
        background: orange;
        padding: 10px;
        color: $corDeFundo;
        border-radius: 10px;
        transition: box-shadow .5s;
        @include botaoCustom() {
            border-radius: 10px;
            font-weight: 900;
        };
        &:hover {
            box-shadow: inset -2px -2px 5px 0px #000;
        }
    }
    p {
        color: $corDeFundo;
        &.curso {
            font-size: 24px;
            font-weight: bold;
        }
        &.local {
            font-style: italic;
        }
    }
}