footer {
    background: orange;
    position: fixed;
    bottom: 0;
    width: 100vw;
    color: $corDeFundo;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a {
        color: $corDeFundo;
        &:hover {
            color: $fundo;
        }
    }
    .foto {
        width: 100px;
        height: 100px;
        border: 1px dashed $corDeFundo;
        background: url(../img/#{$imgMedico});
        background-size: contain;
        @include bordaRedonda();
        @include sombra();
    }
}