
.container{
    background: #fff;
    width: 100%;
    height: 300px;
    border: 3px solid #000;
    background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    position: relative;
}
.item {
    width: 150px;
    height: 150px;
    border: 1px solid #333;
    background: #fff;

    position: absolute;
    bottom:0;
    right: 0;
}