body {
    background: #002244;

    div{
        width: 500px;
        height: auto;

        h1 {
            color: aliceblue;
            font-size: 12px;
        }
        h2 {
            color: aqua;
        }
        &:hover {
            h1 {
                color: aqua;
            }
            h2 {
                color: aliceblue;
            }
        }
    }
}